<!DOCTYPE html>
<html>
  <head>
    <title>FamilyTree</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Family Tree', root_url, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if signed_in? %>
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if I18n.locale == :pl %>"><%= link_to('pl', locale: :pl) %></li>
              <li class="<%= 'active' if I18n.locale == :en %>"><%= link_to('en', locale: :en) %></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
              <li style="margin-left: 90px">
                <%= form_tag search_members_path, method: :get, class: 'navbar-form' do |f| %>
                  <div class="input-group">
                    <%= text_field_tag :q, params['q'], class: 'form-control input-sm', placeholder: 'Szukaj...', required: true %>
                    <span class="input-group-btn">
                      <%= button_tag (glyphicon :search), type: :submit, class: 'btn btn-default btn-sm', title: 'Szukaj', name: nil, data: { disable_with: glyphicon(:hourglass) } %>
                    </span>
                  </div>
                <% end %>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
    
    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
