%h1 Listing members

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= sortable 'last_name', t('activerecord.attributes.member.name')
      %th= t 'activerecord.attributes.member.sex'
      %th= t 'activerecord.attributes.member.age'
      %th= t 'activerecord.attributes.member.birthdate'
      %th= t 'activerecord.attributes.member.address'
      %th= t 'activerecord.attributes.member.phone_number'

  %tbody
    = render partial: 'member', collection: @members, as: :member

= link_to 'New Member', new_member_path, class: 'btn btn-success' if can?(:create, Member)

= will_paginate @members
