%p#notice= notice

%p
  %b Email:
  = @member.email
%p
  %b First name:
  = @member.first_name
%p
  %b Last name:
  = @member.last_name
%p
  %b Sex:
  = @member.sex
%p
  %b Birthdate:
  = @member.birthdate
%p
  %b Address:
  = @member.address
%p
  %b Phone number:
  = @member.phone_number

%h4 Parents
%p= link_to_if @member.parent_1, @member.parent_1, @member.parent_1
%p= link_to_if @member.parent_2, @member.parent_2, @member.parent_2

%h4 Children
- @member.children.each do |child|
  %p= link_to child, child

%h4 Siblings
- @member.siblings.each do |sibling|
  %p= link_to sibling, sibling

%br

= link_to 'Edit', edit_member_path(@member) if can?(:edit, @member)
\|
= link_to 'Back', members_path
