%p#notice= notice

%p
  %b Email:
  = @member.email
%p
  %b First name:
  = @member.first_name
%p
  %b Last name:
  = @member.last_name
%p
  %b Sex:
  = @member.sex
%p
  %b Birthdate:
  = @member.birthdate
%p
  %b Address:
  = @member.address
%p
  %b Phone number:
  = @member.phone_number

%h4 Parents
%p= link_to_if @member.parent_1, @member.parent_1, @member.parent_1
%p= link_to_if @member.parent_2, @member.parent_2, @member.parent_2

%h4 Children
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Sex
      %th Age
      %th Birthdate
      %th Address
      %th Phone number

  %tbody
    = render partial: 'member', collection: @member.children, as: :member

%h4 Siblings
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Name
      %th Sex
      %th Age
      %th Birthdate
      %th Address
      %th Phone number

  %tbody
    = render partial: 'member', collection: @member.siblings, as: :member 

%br

= link_to 'Back', members_path, class: 'btn btn-default'
= link_to 'Edit', edit_member_path(@member), class: 'btn btn-warning' if can?(:edit, @member)
